{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    <!-- indexer::stop -->
    {# Vue application start #}
    <div id="frontend-user-notification-list_{{ id }}" class="frontend-user-notification-list">
        <div class="toast-container position-fixed top-0 start-0 p-3">
            <div v-for="item in items" v-bind-data-id="item.id" class="toast" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-white">
                    <span class="me-auto text-danger small">
                        <i class="fa-solid fa-circle-info"></i> <strong><span v-html="item.messageTitle ?? ''"></span></strong>
                    </span>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
                </div>
                <div class="toast-body bg-light-subtle">
                    <div class="frontend-user-notification-toast--message-date small text-muted">
                        [[ item.dateAddedFormattedDatim ]]
                    </div>
                    <!--<div class="mb-4 small">Du hast eine neue Nachricht:</div>-->
                    <div class="frontend-user-notification-toast--message-text" v-html="item.messageText ?? ''">
                        {# The notification toasts come here #}
                    </div>
                    <div class="mt-2 pt-2 border-top">
                        <button v-on:click="tagAsRead(item.id)" type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast">gelesen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% add to body %}
        <script src="{{ asset('js/frontend_user_notification.built.js', 'markocupic_contao_frontend_user_notification') }}"></script>
    {% endadd %}
    {# Vue application end #}
    <!-- indexer::continue -->
{% endblock %}
